{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/_variables.css' %}">

    <link rel="stylesheet" href="{% static 'css/layout/background.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">

    <link rel="stylesheet" href="{% static 'css/page/homePage.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'layout/header.html' %}
    <div class="elemets">
        <h1 class="title">MMaterial</h1>
        <h3 class="discription">
            This project is designed to make it easy to practice and learn new math skills while spending less time searching for information and examples.
        </h3>
        <h4 class="author">
            Created by: Dmitro Naumov
        </h4>
        <a href="{% url 'catalog' %}" class="start">Let`s start</a>
    </div>
</body>
</html>