{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/layout/header.css' %}">
    <title>Questionator</title>
</head>
<body>

    {% include 'layout/header.html' %}
    <dialog id="ModalWarning">
        <div>
            <button onclick="CloseModal()">X</button>
            <h2>Warninig</h2>
            <h3>If you are not logged in, you will not be able to save your results</h3>
        </div>
    </dialog>

    <h1>Question</h1>

    <button onclick="GetQuestion('{{group_type}}',1)">Generate</button>

    <div>
        <h2 id="question">...</h2>
        <input id="answer" type="text" placeholder="answer"></div>
    </div>

    <button onclick="CheckAnswer()">Check</button>

    <a href="{% url 'guide' group_type %}">Guide</a>


    <script src="{% static 'js/question.js' %}"></script>
</body>
</html>