.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
}
.major{
    display: flex;
    align-self: center;

    margin-top: 3vh;

    width: 70vw;
    text-decoration: none;
    color: var(--very-dark-color);
    background-color: var(--very-light-color);
}
.major:hover{
    color: var(--very-light-color);
    background-color: var(--dark-color);


    cursor:pointer;
}
.box_info{
    display: flex;
    justify-self: center;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    height: 9vh;
    border: solid var(--very-dark-color) 3px;

}
.upText{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 100%;
    border-right: solid;


}
.downText{
    width: 48vw;
    height: 7vh;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;

}
.title{
    color: var(--very-dark-color);
}
.titleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;

}