{% load static %}
<header>
    <div class="box">
        <img src="" alt="" class="icon">
        <ul class="nav">
            {% if request.resolver_match.url_name != 'home' %}
                <li><a href="{% url 'home' %}">Home</a></li>
            {% endif %}
            {% if request.resolver_match.url_name != 'catalog' %}
                <li><a href="{% url 'catalog' %}">Catalog</a></li>
            {% endif %}
            {% if request.resolver_match.url_name != 'registration' and not request.COOKIES.sessionID %}
            <li><a href="{% url 'registration' %}">Registration</a></li>
            {% endif %}
            {% if request.COOKIES.sessionID %}
            <button onclick="LogOut()">Log out</button>
            {% endif %}
        </ul>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
</header>