{% load static %}
<header>
    <div class="box">
        <img src="../../static/images/icon.png" alt="" class="icon">
        <ul class="nav">
            {% if request.resolver_match.url_name != 'home' %}
                <li><a href="{% url 'home' %}" class="tab">Home</a></li>
            {% endif %}
            {% if request.resolver_match.url_name != 'catalog' %}
                <li><a href="{% url 'catalog' %}" class="tab">Catalog</a></li>
            {% endif %}
            {% if request.resolver_match.url_name != 'registration' and not request.COOKIES.sessionID %}
            <li><a href="{% url 'registration' %}" class="tab">Registration</a></li>
            {% endif %}
            {% if request.COOKIES.sessionID %}
            <button class="logOut" onclick="LogOut()">Log out</button>
            {% endif %}
        </ul>
    </div>
    <script src="{% static 'js/header.js' %}"></script>
</header> 